{% extends "base2.html" %}
{% load static %}

{% block content %}
<div class="centered-content">
    <h1>Welcome, {{ user.firstname }} {{ user.lastname }}</h1>

    {% if request.session.user_id %}
        <br>
        <div class="list-buttons">
            <form action="{% url 'create_listing' %}" method="get">
                <button type="submit" class="create_listing">CREATE LISTING</button>
            </form>

            <br>
            <form action="{% url 'interaction_history' %}" method="get">
                <button type="submit" class="interaction_history">VIEW ALL HISTORY</button>
            </form>
            <br>

            <form action="{% url 'stats_and_transactions' %}" method="get">
                <button type="submit" class="stats-and-trans">VIEW ALL STATS AND TRANSACTIONS</button>
            </form>
            <br>
            <form action="{% url 'pet_adoption' %}" method="get">
                <button type="submit" class="pet_adoption">CREATE ADOPTION LISTING</button>
            </form>
        </div>
        <br>
    {% else %}
        <p>Please log in to view your dashboard.</p>
    {% endif %}
</div>

<style>
    .create_listing {
        padding: 10px 20px;
        background-color: #d1a66d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .create_listing:hover {
        background-color: #ba8c63;
    }
</style>
{% endblock %}
