<!-- user dashboard -->

{% extends "base2.html" %}

{% block content %}
<div class="centered-content">
    <h1>Welcome, {{ user.firstname }} {{ user.lastname }}</h1>

    {% if request.session.user_id %} 
        <br>
        <div class="list-buttons">
           
            <a href="{% url 'show_listings' %}"><button class="btn btn-secondary">BROWSE BOOKS</button></a>
            <a href="{% url 'view_purchase_history' %}"><button class="btn btn-success">PURCHASE HISTORY</button></a>

            <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
                <form action="{% url 'create_listing' %}" method="get">
                    <button type="submit" class="btn btn-outline-primary">CREATE LISTING</button>
                </form>
                <a href="{% url 'compare_prices' %}">
                    <button class="btn btn-outline-secondary">COMPARE PRICES</button>
                </a>
            </div>
        </div>
        <br>
    {% endif %}
</div>
{% endblock %}
