{% extends "base2.html" %}

{% block content %}
<div class="centered-content">
    <h2>All Web Users</h2>
    <table border="1" cellspacing="0" cellpadding="6">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Role</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in webusers %}
            <tr>
                <td>{{ user.web_user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.birthdate }}</td>
                <td>{{ user.role }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
